.menubar {
    /*-fx-stroke: #000;*/
    /*-fx-border-color: black;*/
    /*-fx-fill: #F000F0;*/
}

.graph-pane-outer {
    //-fx-border-color: black;
    //-fx-border-style: dotted;
}

.graph-pane-inner {
    //-fx-border-color: black;
    //-fx-border-style: dotted;
}

.button {}

.toggle-button:selected {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}

.graph-edge-point {
    -fx-scale-x: 3;
    -fx-scale-y: 3;
    -fx-stroke: black;
    -fx-fill: black;
}

.graph-edge-point:hover {
    -fx-scale-x: 4;
    -fx-scale-y: 4;
    -fx-stroke: #0096c9;
    -fx-fill: #0096c9;
}

.graph-edge {
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
}

.graph-edge:hover {
    -fx-stroke: #0096c9;
    -fx-stroke-width: 6;
}

.marquee {
    -fx-stroke: #0096c9;
    -fx-stroke-width: 1px;
    -fx-fill: rgba(0, 150, 201, 0.2);
}

.graph-edge-point.selected {
    -fx-stroke: #0096c9;
    -fx-fill: #0096c9;
    -fx-scale-x: 5;
    -fx-scale-y: 5;
}

.selected {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}

.border-bottom {
    -fx-border-color: transparent transparent black transparent
}

.graph-node-label {
    -fx-fill: #e3e3e3;
    -fx-background-color: #e3e3e3;
    //-fx-padding: 1em;
}

.graph-node-label.selected {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}

.graph-node-textarea .scroll-bar {
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

.graph-node-textarea .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}